* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #4699c3;
  --bg-color: #edf2f7;
  --text-color: rgb(42, 41, 41);
  --color-dark-choc:#91635d;
  --border-radius: 10px;

  --color-wood:#e8cfa6;
  --color-wood-dark:#a08262;
  --color-wood-dark:#745e46;
  
  --font-pixel-1:  "VT323", monospace;
  --font-pixel-2:  "Pixelify Sans", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  color: var(--text-color);
  background-color: #080e16;

  font-family: monospace;
  font-family: var(--font-pixel-2);
  font-optical-sizing: auto;
  font-style: normal;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#game {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  position: relative;

  #main-canvas {
    border-radius: var(--border-radius);
    border: 3px solid #333;
    cursor: var(--cursor);
  }

  #ui {
    position: absolute;
    /* background-color: rgba(42, 41, 41, 0.3); */
    width: 100%;
    height: 100%;
    width: 600px;
    border-radius: var(--border-radius);

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: var(--cursor);

    button {
      cursor: var(--cursor);
    }

    &.play {
      background-color: #2085d1;
    }
    &.retry {
      background-color: #6f7378;
    }
    &.next-level {
      background-color: #20d199;
    }
    &.restart {
      background-color: #8420d1;
    }



    .pause_menu {
      display: none;
    }
    .playing {
      display: none;
    }
    .talking {
      display: none;
    }
    .player_menu {
      display: none;
    }

    .settings{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;

      .setting{
        display: flex;
        align-items: center;
        gap: .5rem;


        .toggle{
          border: 1px;
          background-color: transparent;
          background-image: url('/assets/ui/Sprite sheet for Basic Pack.png');
          background-position: -434px -67px;
          background-repeat: no-repeat;
          width: 32px;
          height: 24px;
          transform: scale(1);

          &.off{
            background-position: -434px -99px;

          }
        }

        .btn_lang{
          font-family: var(--font-pixel-2);
          background-color: whitesmoke;
          padding: .5rem;
          border-radius: calc(var(--border-radius)/2);
          border:none;
          color: gray;
          &.active{
            background-color: var(--color-dark-choc);

            color: var(--color-wood);
            font-weight: bold;

          }
        }
      }
    }
  }
}

#game.SCENE_STATE_TALKING {
  #ui {
    display: flex;
    .talking {
      position: absolute;
      left: 1rem;
      bottom: 2rem;

      display: flex;
      width: 97%;
      height: 100px;

      overflow: hidden;
      border: 10px double black;
      border-radius: var(--border-radius);
      background-color: #4699c3;

      .content {
        background-color: white;
        flex-basis: 100%;
        display: flex;
        justify-content: start;
        width: 100%;
        .text {
          font-size: 1.2rem;
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          animation: typing 1s steps(18) forwards;
          height: 100%;
          padding: 1rem;
          word-wrap: break-word;
          position: relative;

          &::after{
            font-family: monospace;
            content: '▼';
            position: absolute;
            bottom: .1rem;
            right: .5rem;
            visibility: hidden;
            animation: typing2 0s 1s forwards;
            /* -webkit-animation:jello-vertical .9s both;animation:jello-vertical .9s both */
          }
          &.last::after{
            font-family: monospace;
            content: '⬝';
          }
        }
      }
    }
  }
}

#game.SCENE_STATE_MENU {
  #ui {
    display: flex;
    .menu_close{
      font-family: var(--font-pixel-2);
      width: 48px;
      text-align: right;
    }
    .pause_menu {
      display: flex;
      width: 100%;
      height: 100%;
      padding: 1rem;
      gap: 1rem;

      .menu {
        font-family: var(--font-pixel-2);
        position: absolute;
        right: 1rem;
        top: 1rem;

        display: flex;
        flex-direction: column;
        width: 180px;
        flex-basis: 15%;
        /* height: 200px; */

        border-radius: var(--border-radius);
        border: 3px solid;
        overflow: hidden;

        background-color: wheat;
        background-color: rgb(238, 232, 220);
        
        padding: .5rem .5rem;
        

        .menu_header{
          /* font-family: monospace; */
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 2px solid;
          padding-bottom: .3rem;
          color: var(--color-dark-choc);


        }
        ul {
          width: 100%;
          /* padding-left: 1rem; */
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .menu_item {
            background-color: transparent;
            border: none;
            text-align: left;

            padding: 0.5rem 0;
            list-style: none;
            border-bottom: 1px solid rgba(0,0,0,0.1);
            transition: all .3s ease-in-out;
            &.active {
              /* list-style: circle; */
              font-weight: bold;
              color:var(--color-dark-choc);
              &::before{
                font-family: monospace;
                content:'*   ';
              }
              /* font-weight: bold; */
            }
            &:hover{
              color: var(--color-dark-choc);
              text-decoration: underline;

              /* &::before{
                content:'▶ ';
              } */
            }
            &:nth-last-child(1) {
              border-bottom: 0;
              text-align: right;
              color: gray;
  

              &:hover{
                opacity: .7;

              }
            }
          }
        }
      }
      #menu_window {
        display: none;
        position: absolute;
        left: 20%;
        width: 45%;
        height: 40%;

        background-color: rgb(238, 232, 220);
        border: 3px solid ;
        border-radius: var(--border-radius);

        .menu_header {
          /* font-weight: bold; */
          padding: .5rem 1rem;;
          border-bottom: 3px solid var(--text-color);
          /* color: var(--color-dark-choc); */

          display: flex;
          align-items: center;
          justify-content: space-between;

          .close{
            color: var(--color-dark-choc);
          }
        }
        .menu_content {
          padding: 1rem;
          .collectives {
            display: none;
          }
          .items {
            display: none;
          }
          .map {
            display: none;
          }
          .settings {
            display: none;
          }

          &.COLLECTIVES {
            .collectives {
              display: block;
            }
          }
          &.ITEMS {
            .items {
              display: block;
            }
          }
          &.MAP {
            .map {
              display: block;
            }
          }
          &.SETTINGS {
            .settings {
              display: block;
            }
          }
        }

        &.SETTINGS{

          .settings{
            display: block;

            .setting{
              display: flex;
              align-items: center;
              gap: .5rem;
  
  
              .toggle{
                border: 1px;
                background-color: transparent;
                background-image: url('/assets/ui/Sprite sheet for Basic Pack.png');
                background-position: -434px -67px;
                background-repeat: no-repeat;
                width: 32px;
                height: 24px;
                transform: scale(1);
  
                &.off{
                  background-position: -434px -99px;
  
                }
              }
            }
          }
        }
      }
    }
  }
}

@keyframes typing {
from {
  width: 0;
}
to {
  width: 100%;
}
}

@keyframes typing2 {
from {
  visibility: hidden;
}
to {
   visibility: visible;
}
}


/* .hide {
  display: none;
} */

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                  supported by Chrome, Edge, Opera and Firefox */
}
@-webkit-keyframes jello-vertical{0%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}30%{-webkit-transform:scale3d(.75,1.25,1);transform:scale3d(.75,1.25,1)}40%{-webkit-transform:scale3d(1.25,.75,1);transform:scale3d(1.25,.75,1)}50%{-webkit-transform:scale3d(.85,1.15,1);transform:scale3d(.85,1.15,1)}65%{-webkit-transform:scale3d(1.05,.95,1);transform:scale3d(1.05,.95,1)}75%{-webkit-transform:scale3d(.95,1.05,1);transform:scale3d(.95,1.05,1)}100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}@keyframes jello-vertical{0%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}30%{-webkit-transform:scale3d(.75,1.25,1);transform:scale3d(.75,1.25,1)}40%{-webkit-transform:scale3d(1.25,.75,1);transform:scale3d(1.25,.75,1)}50%{-webkit-transform:scale3d(.85,1.15,1);transform:scale3d(.85,1.15,1)}65%{-webkit-transform:scale3d(1.05,.95,1);transform:scale3d(1.05,.95,1)}75%{-webkit-transform:scale3d(.95,1.05,1);transform:scale3d(.95,1.05,1)}100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}
.more_dialog{-webkit-animation:jello-vertical .9s both;animation:jello-vertical .9s both}